<% title t('.page_title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <%= confirm_text(:reactivate_user, user_name: @user.name) %>
    </h1>
  </div>
</div>

<%= form_with(url: reactivate_manage_users_deactivated_user_path(@user), method: :patch) do |f| %>
  <div class="govuk-button-group">
    <%= f.govuk_submit action_text(:confirm_reactivate) %>
    <%= govuk_link_to action_text(:abandon_reactivate), manage_users_deactivated_users_path, no_visited_state: true %>
  </div>
<% end %>
