<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View by time passed
        </span>
      </summary>
      <div class="govuk-details__text ">
        <table class="govuk-table app-dashboard-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">
                Time passed
              </th>
              <th scope="col" class="govuk-table__header">
                Open
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% Reporting::CurrentOpenApplications.new.counts.each_with_index do |count, index| %>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <%= "#{index} days" %>
                </th>
                <td class="govuk-table__cell" >
                  <%= count %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </details>
  </div>
</div>
