<h2 class="govuk-heading-m">
  <%= label_text(:supporting_evidence) %>
</h2>

<% if crime_application.supporting_evidence.present? %>
  <table class="govuk-table app-dashboard-table govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          <%= label_text(:file_name) %>
        </th>
        <th scope="col" class="govuk-table__header">
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% crime_application.supporting_evidence.each do |evidence| %>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            <%= evidence.filename %>
          </td>
          <td class="govuk-table__cell">
              <%= t(:download_file, scope: 'values', content_type: crime_application.file_type(evidence.content_type), file_size: number_to_human_size(evidence.file_size)) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<% end %>
