<div class="govuk-button-group govuk-!-margin-bottom-6">
  <%= button_to t('calls_to_action.mark_complete'),
  # TODO - update path
                  assigned_application_path(crime_application),
                  method: :post,
                  class: 'govuk-button govuk-button' %>
  <%= button_to t('calls_to_action.send_back'),
  # TODO - update path
                  assigned_application_path(crime_application),
                  method: :post,
                  class: 'govuk-button govuk-button--warning' %>
  <%= button_to t('calls_to_action.unassign_from_self'),
                  assigned_application_path(crime_application),
                  method: :delete,
                  class: 'govuk-button govuk-button--secondary' %>
</div>