<div class="govuk-button-group govuk-!-margin-bottom-6">
  <button class="govuk-button" data-module="govuk-button">
    Mark as completed
  </button>
  <button class="govuk-button govuk-button--warning" data-module="govuk-button">
    Send back to provider
  </button>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Remove from your list
  </button>
</div>