<% title t(".#{@review_status}_title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
      <h1 class="govuk-heading-xl">
        <%= t ".#{@review_status}_heading" %>
      </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s">
      <%= t('.total', count: @search.total) %>
    </h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "#{@review_status}_crime_applications_table", applications: @search.results %>
  </div>
</div>
