<% title t(".#{params[:status]}_title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
      <h1 class="govuk-heading-xl">
        <%= t ".#{params[:status]}_heading" %>
      </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s">
      <%= t('.total', count: @applications.count) %>
    </h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render 'crime_applications_table', applications: @applications %>
  </div>
</div>
