<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= @crime_application.laa_reference %>
    </h1>

    <h2 class="govuk-heading-l">
      <%= @crime_application.applicant_name %>
    </h2>
  </div>
</div>
