<strong>
  <%= t('reviewing.sent_back', scope: 'event.description') %>
</strong>
<p><%= t(item.event_data.fetch(:reason), scope: 'values.return_reason') %></p>
<%= simple_format application.return_details&.details %>
