<% if benefits.present? %>
  <h2 class="govuk-heading-m">
    <%= label_text(:benefits_details) %>
  </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <% benefits.each do |benefit_type, value| %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text("benefit_#{benefit_type}".to_sym) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if value %>
            <%= t("values.amount_with_frequency.#{value.frequency}", amount: number_to_currency(value.amount / 100, unit: '£', separator: '.', delimiter: ',')) %>
          <% else %>
            <%= t('values.does_not_get') %>
          <% end  %>
        </dd>
      </div>
    <% end %>
  </dl>
<% end %>
