<% unless national_savings_certificates.empty? %>
  <h2 class="govuk-heading-m"><%= label_text(:national_savings_certificates) %></h2>

  <%= app_card_list items: national_savings_certificates, item_name: label_text(:national_savings_certificate) do |card|
        govuk_summary_list(actions: false) do |list|
          list.with_row do |row|
            row.with_key { label_text(:national_savings_certificate_holder_number) }
            row.with_value { simple_format(card.item.holder_number) }
          end
          list.with_row do |row|
            row.with_key { label_text(:national_savings_certificate_certificate_number) }
            row.with_value { card.item.certificate_number }
          end
          list.with_row do |row|
            row.with_key { label_text(:national_savings_certificate_value) }
            row.with_value { number_to_currency(card.item.value * 0.01) }
          end
          list.with_row do |row|
            row.with_key { label_text(:national_savings_certificate_ownership_type) }
            row.with_value { value_text(card.item.ownership_type) }
          end
        end
      end %>
<% end %>
