<% if details.income_tax_rate_above_threshold.present? || details.outgoings_more_than_income.present? %>
  <h2 class="govuk-heading-m">
    <%= label_text(:other_outgoings_details) %>
  </h2>

  <%= govuk_summary_list(actions: false) do |list|
        if details.income_tax_rate_above_threshold.present?
          list.with_row do |row|
            row.with_key { label_text(:income_tax_rate_above_threshold) }
            row.with_value { t(details.income_tax_rate_above_threshold, scope: 'values') }
          end
        end

        if details.outgoings_more_than_income.present?
          list.with_row do |row|
            row.with_key { label_text(:outgoings_more_than_income) }
            row.with_value { t(details.outgoings_more_than_income, scope: 'values') }
          end
        end

        if details.outgoings_more_than_income == 'yes'
          list.with_row do |row|
            row.with_key { label_text(:how_manage_outgoings) }
            row.with_value { simple_format(details.how_manage) }
          end
        end
      end %>
<% end %>
