<% unless crime_application.means_passported_on_age? || crime_application.not_means_tested? || crime_application.appeal_no_changes? %>
  <%= govuk_summary_card(title: label_text(:passporting_benefit_check)) do %>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:passporting_benefit) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(applicant.benefit_type.presence, scope: 'values') || t(:not_asked, scope: 'values') %>
        </dd>
      </div>

      <%= render partial: 'casework/crime_applications/sections/passporting_benefit_check',
                 locals: { crime_application: crime_application, person: applicant } %>
    </dl>
  <% end %>
<% end %>
