<% unless details.has_premium_bonds.nil? %>
  <h2 class="govuk-heading-m">
    <%= label_text(:premium_bonds) %>
  </h2>

  <%= govuk_summary_card(title: label_text(:premium_bonds)) do %>
    <%= govuk_summary_list(actions: false) do |list|
          list.with_row do |row|
            row.with_key { label_text(:has_premium_bonds) }
            row.with_value { value_text(details.has_premium_bonds) }
          end

          if details.has_premium_bonds == 'yes'
            list.with_row do |row|
              row.with_key { label_text(:premium_bonds_total_value) }
              row.with_value { number_to_currency(details.premium_bonds_total_value * 0.01) }
            end

            list.with_row do |row|
              row.with_key { label_text(:premium_bonds_holder_number) }
              row.with_value { details.premium_bonds_holder_number }
            end
          end
        end %>
  <% end %>
<% end %>