<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <%= link_to t('.application_details'), crime_application_path(crime_application), class: 'moj-sub-navigation__link', aria: { current: current_page?(crime_application_path) ? 'page' : nil } %>
    </li>
    <li class="moj-sub-navigation__item">
      <%= link_to t('.application_history'), history_crime_application_path(crime_application), class: 'moj-sub-navigation__link', aria: { current: current_page?(history_crime_application_path, action: 'history') ? 'page' : nil } %>
    </li>
  </ul>
</nav>
