// App-specific custom styles and overrides
span.offence_class {
  display: block;
}

form.search {
  padding-top: 2em;
  padding-left: 2em;
  background-color: govuk-colour("light-grey");
  .input-group {
    display: flex;
      .govuk-form-group {
        margin-right: govuk-spacing(4);
      }
  }
  input[type=date] {
    width: 8em;
  }
}

p.help-text {
  color: govuk-colour("dark-grey");
}

// Phase banner styling
$app-prod-colour: govuk-colour("blue");
$app-staging-colour: govuk-colour("orange");
$app-dev-colour: govuk-colour("green");

$colours: ("blue": $app-prod-colour, "orange": $app-staging-colour, "green": $app-dev-colour);

@each $key, $colour in $colours {
  .app-banner-#{$key} {
    .govuk-header__container {
      border-bottom-color: $colour;
    }

    .govuk-tag.govuk-phase-banner__content__tag {
      background-color: $colour;
    }
  }
}
