// App-specific custom styles and overrides
@use "govuk-frontend/dist/govuk" as *;

@mixin app-button-reset {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  box-sizing: unset;
  background-color: transparent;
}

span.offence_class {
  display: block;
}

form.search {
  padding-top: 2em;
  padding-left: 2em;
  background-color: govuk-colour("light-grey");
  .input-group {
    display: flex;
    flex-wrap: wrap;
    .govuk-form-group {
      margin-right: govuk-spacing(4);
    }
  }
  input[type=date] {
    width: 8em;
  }

  select#filter-age-in-business-days-field.govuk-select {
    width: 100%;
  }
}

.app_superseded_style  {
  color: govuk-colour("dark-grey");
}

td.file-name {
  overflow-wrap: anywhere;
}

// On Edge browser, the app will side scroll left and right and make it more difficult to scroll down the page.
// Side scrolling has been disabled to help with usability
html {
  overflow-x: hidden;
}

.govuk-summary-list__key {
  width: 45%
}

.app-button--link {
  @include app-button-reset;
  @extend %govuk-link;

  // Buttons can't have different colours for visited/unvisited
  font-family: $govuk-font-family;
  color: $govuk-link-colour;
}

.app-table-container {
  overflow-x: auto
}

.app-service-navigation {
  border-bottom: none;
}

.app-table {
  thead {
    position: sticky;
    top: 0;
    background-color: white;
  }
  tr.colgroup-headers {
    th {
      border-bottom: none;
      text-align: center;
      vertical-align: bottom;
    }
  }

  tr.colgroup-details {
    th {
      padding-top: 0px; // govuk default is 10px
      vertical-align: bottom;
      }
  }

  // add vertical borders between colgroups
  .colgroup-total + .colgroup-detail {
    border-left: 1px solid $govuk-border-colour;
    padding-left: 4px;
  }

  // total row has a thicker border above and now bottom border
  tr.total {
    border-top: 2px solid $govuk-border-colour;
    th, td {
      border-bottom: none;
    }
  }
}

.app-table__complex {
  font-size: 16px;

  td, th { padding-right: 10px;}

  tr.colgroup-details {
    th { font-weight: normal;}
  }

  td:first-child {
    overflow-x: scroll;
    max-width: 10em;
  }
}

.date-stamp-context-tag {
  float: right;

  .govuk-tag {
    display: inline;
  }
}

// Hide copy text links if Javascript is disabled
.copy-text-link { display: none }

body.js-enabled {
  .copy-text-link { display: inline }

  @media print {
    .copy-text-link { display: none }
  }
}

.disable-click {
  pointer-events: none;
}