// App-specific custom styles and overrides
span.offence_class {
  display: block;
}

form.search {
  padding-top: 2em;
  padding-left: 2em;
  background-color: govuk-colour("light-grey");
  .input-group {
    display: flex;
      .govuk-form-group {
        margin-right: govuk-spacing(4);
      }
  }
  input[type=date] {
    width: 8em;
  }
}

p.help-text {
  color: govuk-colour("dark-grey");
}
//
