<td class="govuk-table__cell">
  <a class="govuk-link govuk-link--no-visited-state" href="<%=edit_manage_competencies_caseworker_competency_path(id: caseworker)%>">
    <% if Allocating.user_competencies(caseworker.id).blank? %>
        <%= t('.no_competencies') %>
    <% else %>
      <%= Allocating.user_competencies(caseworker.id).map(&:humanize).join(', ') %>
    <% end %>
  </a>
</td>
<td class="govuk-table__cell">
  <%= govuk_link_to(t('.history'), manage_competencies_history_path(id: caseworker), { no_visited_state: true }) %>
</td>
