<% title t('.page_title') %>

<% content_for(:header) do %>
  <% render partial: 'layouts/header' %>
<% end %>

<% content_for(:primary_navgation) do %>
  <%= render partial: 'layouts/primary_navigation' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t '.heading' %></h1>
  </div>
</div>
