<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <%= t '.heading' %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class='govuk-heading-m'>Latest complete reports<h2>

    <% @latest_temporal_reports.each do |report|%>
      <h3 class='govuk-heading-s'>
        <%= govuk_link_to(
              report.title,
              reporting_temporal_report_path(
                interval: report.interval,
                report_type: report.report_type,
                period: report.to_param
              ),
              { no_visited_state: true }
            )%>
      </h3>
    <% end %>

    <h2 class='govuk-heading-m'>Latest snapshots<h2>

    <% @snapshot_report_types.each do |report_type| %>
      <h3 class='govuk-heading-s'>
        <%= govuk_link_to(
              label_text(report_type),
              reporting_current_snapshot_path(report_type),
              { no_visited_state: true }
            ) %>
      </h3>

    <% end %>

    <h3 class='govuk-heading-s'>
      <%= govuk_link_to label_text('processed_report'), reporting_user_report_path('processed_report'), { no_visited_state: true } %>
    </h3>
  </div>
</div>
