<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <%= t '.heading' %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <% @latest_temporal_reports.each do |report|%>
      <h3 class='govuk-heading-s'>
        <%= govuk_link_to(
              label_text(report.report_type),
              reporting_temporal_report_path(report.to_param),
              no_visited_state: true
            )%>
      </h3>
    <% end %>

    <% @snapshot_report_types.each do |report_type| %>
      <h3 class='govuk-heading-s'>
        <%= govuk_link_to(
              label_text(report_type),
              reporting_current_snapshot_path(report_type),
              no_visited_state: true
            ) %>
      </h3>

    <% end %>

    <h3 class='govuk-heading-s'>
      <%= govuk_link_to label_text('processed_report'), reporting_user_report_path('processed_report'), no_visited_state: true %>
    </h3>
  </div>
</div>
