<ul class="govuk-summary-list__actions-list">
  <li class="govuk-summary-list__actions-list-item">
    <%= govuk_link_to action_text(:delete), confirm_destroy_admin_manage_users_invitation_path(user), { no_visited_state: true } %>
  </li>
  <% if user.invitation_expired? %>
    <li class="govuk-summary-list__actions-list-item">
      <%= govuk_link_to action_text(:renew), confirm_renew_admin_manage_users_invitation_path(user), { no_visited_state: true } %>
    </li>
  <% end %>
</li>
