<td class="govuk-table__cell"><%= user.email %></td>
<td class="govuk-table__cell"><%= t(user.can_manage_others, scope: 'values') %></td>
<td class="govuk-table__cell"><%= l(user.invitation_expires_at, format: :timestamp) if user.invitation_expires_at.present? %></td>
