<% title t('.page_title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <%= confirm_text(:renew_invitation, email: @user.email) %>
    </h1>
  </div>
</div>

<%= form_with(url: admin_manage_users_invitation_path(@user), method: :patch) do |f| %>
  <div class="govuk-button-group">
    <%= f.govuk_submit action_text(:confirm_renew) %>
    <%= govuk_link_to action_text(:abandon_renew), admin_manage_users_invitations_path, { no_visited_state: true } %>
  </div>
<% end %>
