<% unless user.id == current_user_id %>
  <ul class="govuk-summary-list__actions-list">
    <% if user.awaiting_revival? %>
      <li class="govuk-summary-list__actions-list-item">
        <%= action_text(:awaiting_revival) %>
      </li>
    <% elsif user.dormant? %>
      <li class="govuk-summary-list__actions-list-item">
        <%= govuk_link_to action_text(:revive), edit_admin_manage_users_revive_user_path(id: user), { no_visited_state: true, class: 'govuk-button' } %>
      </li>
    <% else  %>
      <li class="govuk-summary-list__actions-list-item">
        <%= govuk_link_to action_text(:deactivate), new_admin_manage_users_deactivated_user_path(id: user), { no_visited_state: true, class: 'govuk-button' } %>
      </li>

      <% if FeatureFlags.basic_user_roles.enabled? %>
        <li class="govuk-summary-list__actions-list-item">
          <%= govuk_link_to action_text(:change_role), edit_admin_manage_users_change_role_path(id: user), { no_visited_state: true, class: 'govuk-button govuk-button--secondary' } %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
