<ul class="govuk-summary-list__actions-list">
  <li class="govuk-summary-list__actions-list-item">
    <%= govuk_link_to action_text(:reactivate), confirm_reactivate_admin_manage_users_deactivated_user_path(user), { no_visited_state: true } %>
  </li>
</li>
