<%= button_to text, '', id: id, class: 'govuk-button govuk-button--secondary copy-text-link govuk-!-margin-bottom-0', 'aria-label': aria_label %>
<p id="copy-alert" class="govuk-visually-hidden" aria-live="assertive"></p>
