<% if FeatureFlags.copy_button.enabled? %>
  <%= button_to link_text, '', id: link_id, class: 'govuk-button govuk-button--secondary copy-text-link govuk-!-margin-bottom-0', 'aria-label': aria_label %>
<% else %>
  <%= link_to link_text, '', id: link_id, class: 'govuk-link--no-visited-state copy-text-link', 'aria-label': aria_label %>
<% end %>
<p id="copy-alert" class="govuk-visually-hidden" aria-live="assertive"></p>
