<% title @report.report_name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= turbo_frame_tag @report.report_name, data: { turbo: 'true' } do %>
      <%= govuk_table do |table|
            table.with_head do |head|
              head.with_row do |row|
                @report.table.headers.each do |data_cell|
                  row.with_cell(
                    text: data_cell.content,
                    numeric: data_cell.numeric,
                    header: data_cell.header
                  )
                end
              end
            end
            table.with_body do |body|
              @report.table.rows.each do |data_row|
                body.with_row do |row|
                  data_row.each do |data_cell|
                    row.with_cell(
                      text: data_cell.content,
                      numeric: data_cell.numeric,
                      header: data_cell.header
                    )
                  end
                end
              end
            end
          end %>
    <% end %>
  </div>
</div>
