<% title @report.report_name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <%= label_text(@report.report_name) %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= turbo_frame_tag @report.report_name, data: { turbo: 'true' } do %>
      <%= render partial: @report.report_name, locals: { report: @report } %>
    <% end %>
  </div>
</div>

<% content_for(:back_link) do %>
  <%= govuk_back_link href: :back %>
<% end %>
