  <nav aria-label="Menu" class="govuk-header__navigation">
    <ul id="navigation" class="govuk-header__navigation-list">
      <li class="govuk-header__navigation-item app-header__auth-user">
        <%= current_user_name %>
      </li>
      <%# TODO: update path to new management console %>
      <li class="govuk-header__navigation-item">
        <%= link_to t('.manage_users'), assigned_applications_path, class: 'govuk-header__link' %>
      </li>
    </ul>
  </nav>
