<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <%= link_to t('primary_navigation.your_list', count: assignments_count), 
              assigned_applications_path, 
              class: 'moj-primary-navigation__link', 
              aria: { current: current_page?('/assigned_applications') ? 'page' : nil } %>
          </li>

          <li class="moj-primary-navigation__item">
            <%= link_to t('primary_navigation.open_apps'), 
              crime_applications_path, 
              class: 'moj-primary-navigation__link', 
              aria: { current: current_page?('/applications') ? 'page' : nil } %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
